<div class="container">
  <h2 class="section-title">Quick Order</h2>
  <div class="row mt-5">
    <div class="col-lg-5">
      <h3 class="input-title">Collection Point</h3>
      <mat-form-field class="input-t input-addr" appearance="outline">
        <mat-label>Appt / Area/ Addrress</mat-label>
        <input matInput placeholder="Pickup Address">
      </mat-form-field>
      <mat-form-field class="input-t input-pin" appearance="outline">
        <mat-label>Pincode</mat-label>
        <input matInput placeholder="Pincode">
      </mat-form-field>
    </div>
    <div class="col-lg-5">
      <h3 class="input-title">Delivery Point</h3>
      <mat-form-field class="input-t input-addr" appearance="outline">
        <mat-label>Appt / Area/ Addrress</mat-label>
        <input matInput placeholder="Drop Address">
      </mat-form-field>
      <mat-form-field class="input-t input-pin" appearance="outline">
        <mat-label>Pincode</mat-label>
        <input matInput placeholder="Pincode">
      </mat-form-field>
    </div>
    <div class="col-lg-2 d-flex align-items-center">
      <button mat-button class="btn-order">Order</button>
    </div>

  </div>
</div>