header nav{
    box-shadow: 0 2px 4px 0 rgba(80,89,100,.16);
}
.headerbtn{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}
.clientoption{
    color:#482358;
}
.jumbotron{
    background-image: url('./images/5cee3ffc3bf44955908678.gif');
    background-size: 100% 100%;
    padding-bottom: 0px;
}
.heading{
    color:white;
}
.center{
    text-align: center;
}
.courierboy{
    background-image:url('./images/Untitled.png');
}
.feature .card{
    border-color: #f1c40f;
    color: #047789;
}
.whyus .card{
    border-color: #f1c40f;
    color: #047789;
}
.divider{
    padding:15px 0px;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.display-3{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size : 40px;
}
.lead-3{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size : 14px;
}
.lead-4{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size : 17px;
}
footer{
    padding-top:30px;
    box-shadow: 0 0 3px 1px rgba(1, 1, 1, 0.1);
}
.footer-2{
    background-color: #34495e;
    color:white;
}
.footer-2 i{
   font-size: 30px;
   color:#3498db;
}
.apppromote{
    padding:20px 0px;
    background-color: rgba(236, 240, 241,0.5);
}