<section class="addr-input container">
    <div class="row banner">
        <div class="col-md-7">
            <div class="d-flex justify-content-center flex-column">
                <h3 class="banner-heading-2">Calculate Shipping Rates</h3>
                <h2 class="banner-heading-1">on the go !</h2>
                <p class="banner-text">Plan your shipments with ease as you estimate freight costs beforehand.</p>
            </div>
            <a href="" class="mt-2 btn-round btn-t-primary" mat-button>Get Started</a>
        </div>
        <div class="col-md-5">
            <img src="./assets/images/calculator.svg" class="banner-img">
        </div>
    </div>
</section>

<section class="intro">
    <div class="container">
        <h2 class="section-title">Worried if shipping will burn a hole in your budget?</h2>
        <div class="w-75 mx-auto">
            <p class="banner-text text-center">Calculate your shipping costs for Cityswift services using our courier
                rates
                calculator.
                Our free calculator helps you calculate the prices for shipping items based on their volumetric weight,
                COD
                availability, dimensions, and the distance between the pick-up and delivery locations.</p>
        </div>

    </div>
</section>

<app-shipping-calc></app-shipping-calc>

<section class="howitwork">
    <div class="container">
        <h2 class="section-title text-left">How Does It Work</h2>
        <ul class="points">
            <li>Enter the 6 digit PIN code or Address of the pick-up location in the Pick-up Area Pincode field.</li>
            <li>Enter the 6 digit PIN code or Address of the delivery location in the Delivery Area Pincode field.</li>
            <li>Enter the approximate weight (in Kgs) in the Approximate Weight field.<br>
                (For example, if your package
                weighs 1 kg, enter 1. Similarly, if your package weighs 500 gms or 300 gms, enter 0.500 or 0.300
                respectively.)</li>
            <li>Press Calculate to get the shipping rates and details of the different courier plans.</li>
        </ul>
    </div>
</section>