<section class="container banner">
  <div class="row">
    <div class="col-md-5">
      <div class="d-flex align-content-center flex-column text-div">
        <h3 class="banner-heading-2">Delivery urgent courier</h3>
        <h2 class="banner-heading-1">to your Destination !</h2>
        <p class="banner-text">Fastest Courier Service for lowest shipping rates, widest reach and best customer
          service.</p>
      </div>
      <a href="" class="mt-2 btn-round btn-t-primary" mat-button>Learn more !</a>
    </div>
    <div class="col-md-7 image-wrapper">
      <img src="./assets/images/logo/banner.svg" class="banner-img">
    </div>
  </div>
</section>

<section class="quick-order">
  <div class="container">
    <app-quick-order></app-quick-order>
  </div>
</section>

<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="./assets/images/shipping-ballon.svg" class="serv-main-img">
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <span class="service-heading-1">
          <span>We provide the</span>
          <span> Best parcel service ever</span>
        </span>
        <p class="banner-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente harum nostrum
          aperiam
          commodi sequi porro laborum quisquam repellat ad sint.</p>
        <div class="d-flex align-items-baseline">
          <a href="" class="mt-2 mr-4 btn-round btn-t-primary" mat-button>Learn more !</a>
          <button mat-mini-fab class="watch-video-btn" class="mr-2">
            <i class="material-icons">play_arrow</i>
          </button>
          <h4>Watch Video</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-services">
    <h2 class="section-title">Our Services</h2>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-4">
          <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3 class="card-title">Door To Door</h3>
              <p class="card-content-text">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
              <a href="" class="mt-2 mr-4 btn-round btn-t-primary" mat-button>Learn more !</a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 ">
          <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3 class="card-title">Free Pickup</h3>
              <p class="card-content-text">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
              <a href="" class="mt-2 mr-4 btn-round btn-t-primary" mat-button>Learn more !</a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 ">
          <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3 class="card-title">Quality Shipping</h3>
              <p class="card-content-text">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
              <a href="" class="mt-2 mr-4 btn-round btn-t-primary" mat-button>Learn more !</a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 ">
          <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3 class="card-title"> Superior user Experience</h3>
              <p class="card-content-text">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
              <a href="" class="mt-2 mr-4 btn-round btn-t-primary" mat-button>Learn more !</a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 ">
          <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3 class="card-title"> Low Cost</h3>
              <p class="card-content-text">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
              <a href="" class="mt-2 mr-4 btn-round btn-t-primary" mat-button>Learn more !</a>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 ">
          <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3 class="card-title"> Intercity Couriers</h3>
              <p class="card-content-text">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
              <a href="" class="mt-2 mr-4 btn-round btn-t-primary" mat-button>Learn more !</a>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="howitworks">
  <h2 class="section-title">How its Works</h2>
  <p class="banner-text text-center">Just go throught below steps and all done.!</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <img src="./assets/images/fill_order.png">
        <h4 class="title"><span class="emoji-icon">☝️</span> Fill up Pickup form Online</h4>
        <p class="banner-text">By Filling up and Submitting form your shipment is ready for pickup.</p>
        <a href="" class="mt-2 mr-4 btn-round btn-t-primary" mat-button>Register Now !</a>
      </div>
      <div class="col-lg-4 text-center">
        <img src="./assets/images/pack_shipment.png">
        <h4 class="title"><span class="emoji-icon">✌️</span> Do Ready your courier</h4>
        <p class="banner-text">By Filling up and Submitting form your shipment is ready for pickup.</p>
        <a href="" class="mt-2 mr-4 btn-round btn-t-primary" mat-button>Learn more !</a>
      </div>
      <div class="col-lg-4 text-center">
        <img src="./assets/images/fill_order.png">
        <h4 class="title"><span class="emoji-icon">👍</span> All Done ! Track Status</h4>
        <p class="banner-text">All done you can track status by AWB no. assigned to your parcel.</p>
        <a href="" class="mt-2 mr-4 btn-round btn-t-primary" mat-button>Track Now !</a>
      </div>
    </div>

  </div>
</section>


<section class="reviews">
  <h2 class="section-title">What our customer says !</h2>
  <div class="container-fluid">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of reviews;index as i">
        <ng-template class="mat-elevation-z20 review-slide" carouselSlide [id]="i">
          <mat-card class="review-card">
            <div class="d-flex flex-column">
              <img src="{{slide.img}}" class="profile-img">
              <h5 class="profile-name">{{slide.name}}</h5>
              <h6 class="profile-sub">{{slide.area}}</h6>
              <p class="content"><i><span class="material-icons quote-icon">format_quote</span>{{slide.content}}</i></p>
            </div>
          </mat-card>
        </ng-template>
      </ng-container>
    </owl-carousel-o>

  </div>

</section>

<section class="question">
  <h2 class="section-title">Have a Question on your mind?</h2>
  <p class="banner-text text-center">Feel Free to contact us, we'll love to hear from you.</p>

  <div class="mt-5 d-flex justify-content-center align-items-center">
    <mat-form-field appearance="outline" class="email-input">
      <input matInput type="email" placeholder=" Enter your email here">
      <button mat-button matSuffix>
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
</section>