@import "../../../assets/styles/variables.scss";

mat-menu {
  z-index: 12;
}
.navbar {
  color: $color-text-grey;
}
.logo {
  max-width: 9.5rem;
}
.logo-content {
  display: none;
}
.navbar-brand {
  & {
    color: $color-text-grey;
  }
}
li.nav-item {
  & a {
    font-weight: 400;
    font-size: 0.9rem;
    position: relative;
    color: $color-text-grey;
  }
  & a.nav-link.active {
    font-weight: 500;
    color: $color-text-dark;
  }
  & a.nav-link.active::after {
    content: " ";
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    z-index: 12;
    background-color: $color-primary-light;
    top: 90%;
    left: 43%;
    border-radius: 50%;
  }
  & a.btn-order {
    background-color: $color-primary-light;
    color: $color-text-light;
    font-weight: 500;
  }
}

button.profile-btn {
  margin-top: -0.3rem;
}

.sidenav {
  background: $color-text-light;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  height: 100%;

  a.sidenav-link {
    font-size: 1.4rem;
    padding: 1.2rem;
  }

  & a.btn-order {
    background-color: $color-primary-light;
    color: $color-text-light;
    font-weight: 500;
  }
}

@media screen and (min-width: 600px) {
  .logo {
    max-width: 10.5rem;
  }

  .logo-content {
    display: inline-block;
  }
}
