@import "./../../../../../assets/styles/variables.scss";
ul.points {
  list-style: none;
  li {
    position: relative;
    margin: 1rem 0;
  }
  li:not(:last-child)::before {
    content: "";
    height: 105%;
    border-left: 1.3px dashed $color-bg-light;
    width: 1px;
    position: absolute;
    z-index: 1;
    left: -2rem;
    top: 1rem;
    transform-origin: center;
  }
  li:after {
    content: "";
    position: absolute;
    background-color: $color-accent-light;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    left: -2.47rem;
    top: 0.6rem;
    z-index: 2;
    transform-origin: center;
  }
}

span.heading {
  font-weight: bold;
}
.w-80 {
  width: 80%;
}
