<section class="track">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="banner-info">
          <div class="d-flex flex-column justify-content-center pt-3">
            <h3 class="banner-heading-2">track your delivery</h3>
            <h2 class="banner-heading-1">on the go !</h2>
            <p class="banner-text">with Cityswift you can easily track realtime shipment status.</p>
          </div>
          <div class="form-div mt-3">
            <mat-card class="mat-elevation-z6">
              <h2 class="section-title-2">Track by AWB Number</h2>
              <mat-form-field color="primary" class="w-100" appearance="outline">
                <mat-label>AWB Number</mat-label>
                <input matInput placeholder="Enter awb Number">
              </mat-form-field>
              <button class="mt-2 btn-round " mat-stroked-button color="primary">Get Status</button>

            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <img src="./assets/images/track.svg" class="banner-img">
      </div>
    </div>
  </div>
</section>