@import "../../../assets/styles/variables.scss";
section.track {
  & img.banner-img {
    max-width: 100%;
  }
}

.banner-heading {
  &-1 {
    font-size: 2.77rem;
    color: $color-text-dark;
  }
  &-2 {
    // margin-top: 4rem;
    font-size: 2.15rem;
    color: $color-text-grey;
  }
}

.banner-text {
  font-size: 1rem;
  font-weight: 400;
  color: $color-text-grey;
}
.banner-info {
  display: block;
  transform: translate(0, 25%);
  transform-origin: center;
}
.section-title-2 {
  font-size: 1.2rem;
  font-weight: 400;
}
