/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "./assets/styles/variables.scss";
@import "./assets/styles/custom.scss";

//theme colors

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb:hover {
  width: 0.8rem;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $color-primary-light2;
}
body::-webkit-scrollbar-thumb {
  background-color: $color-primary-light;
  outline: 1px solid $color-text-grey;
}
