/* You can add global styles to this file, and also import other style files */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "./assets/styles/variables.scss";
@import "./assets/styles/custom.scss";

//theme colors
:root {
  $color-primary-light: #0aa7b1;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
