a[mat-button] {
  text-decoration: none;
}
a[mat-button]:hover {
  color: $color-text-light;
}

//helpers
a.btn-round {
  border-radius: 20px;
}
.btn-round {
  border-radius: 20px;
}
a {
  text-decoration: none;
}

.btn-t-primary {
  background-color: $color-primary-light;
  color: $color-text-light;
}

h2.section-title {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
}

h3.card-title {
  font-size: 1.4rem;
  font-weight: medium;
  text-align: center;
}

h4.title {
  font-size: 1.2rem;
  font-weight: medium;
  text-align: center;
}

.strike-title {
  text-align: center;
  position: relative;
  & span {
    position: relative;
    background-color: white;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: medium;
    font-size: 1.2rem;
    font-weight: medium;
    z-index: 11;
  }
  &::after {
    content: " ";
    width: 50%;
    height: 1px;
    position: absolute;
    border-bottom: 1px solid $color-text-grey;
    left: 25%;

    top: 50%;
  }
}

//border utility
.b {
  &l-1 {
    border-left: 1px solid $color-text-grey;
  }
  &-2 {
    border: 2px solid $color-accent-light;
  }
}

.br-20 {
  border-radius: 20px;
}

app-quick-order
  div.quickOrder
  .mat-form-field-appearance-outline
  .mat-form-field-outline {
  background-color: white !important;
  border-radius: 5px;
}

section.question .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: $color-text-light !important;
  border-radius: 5px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

section.track .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: $color-bg-light !important;
  border-radius: 5px;
}

section.order .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: $color-bg-light !important;
  border-radius: 5px;
}

.banner-text {
  font-size: 1rem;
  font-weight: 400;
  color: $color-text-dark1;
}
