header{
    color: white;
}
.navbar-brand{
    width: 300;
}

.nav-item{
    padding: 1rem 0.6rem;
}
.nav-item a{
    font-size: 1.1rem;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
}
.jumbotron{
    box-shadow: 0 8px 6px -6px black;
    color: white;
}
#bannerCard{
    background-color: rgba(106, 16, 81,0.5) !important;
}
.fw-7{
    font-weight: 700 !important;
}
.background-banner{
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    background: rgb(3,117,147);
    background: linear-gradient(180deg, rgba(3,117,147,1) 25%, rgba(2,140,173,1) 47%, rgba(69,185,210,1) 68%, rgba(143,234,252,1) 85%, rgba(255,255,255,1) 100%);
    position: absolute;
    z-index: -1;
    top: 0px;
}
.row{
    margin: 2.5rem;
}
#banner{
    width: 80%;
    margin: auto;
}
#feature{
    width: 80%;
    margin: auto;
}
#whyus{
    width: 80%;
    margin: auto;
}
#howItWorks{
    padding-top: 5%;
    padding-bottom: 5%;
}
#review{
    width: 80%;
    margin: 10% auto;
}
.footer{
    background: #037593;
    color: white;
    padding: 5%;
}
#footer-container{
    width: 1170px;
    margin: auto;
}
.bg-grey{
    background: #ecf0f1;
}
.display-5{
    font-size: 2rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
}
.display-6{
    font-size: 1.5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 600;
}
#copyDiv{
    margin-bottom: 0px;
}
.quote-icon{
    opacity: 0.3;
    float: left;
    position: absolute;
    z-index: -1;
    width: 80;
    height: 80;
}

#pricing{
    padding: 5% 10%;
    background: #ecf0f1;
}
.carousel-control-next{
    background: rgb(3,117,147);
    background: linear-gradient(90deg, rgba(3,117,147,1) 25%, rgba(2,167,173,1) 47%, rgba(69,185,210,1) 68%, rgba(143,234,252,1) 85%, rgba(255,255,255,1) 100%);
    border-radius : 200px;
}
.carousel-control-prev{
    background: rgb(3,117,147);
    background: linear-gradient(274deg, rgba(3,117,147,1) 25%, rgba(2,167,173,1) 47%, rgba(69,185,210,1) 68%, rgba(143,234,252,1) 85%, rgba(255,255,255,1) 100%);
    border-radius : 200px;
}
.nav-head{
    margin-bottom: 10%;
    font-weight: 700;
}
.footer-nav{
    padding-left:0px;
}
.footer-nav li{
    list-style: none;
    padding: 2%;
}
.footer-nav li::before{
    content:'- ';
}
.footer-nav li a{
    color: white;
    text-decoration: none;
}
.footer-nav li a:hover{
    color: orange;
}
